@model PageNatedList<Product>
@{
    ViewData["Title"] = "Index";
    int no = (Model.CurrentPage - 1) * Model.ElementCount;
}
<style>
    .description p, .product-title p{
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<main class="main-content  mt-0">
    <section>
        <div class="page-header min-vh-75">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Page Heading -->
                        <div class="d-sm-flex justify-content-between mt-4 mb-4">
                            <h1 class="h3 mb-0 text-gray-800">Product</h1>
                            <a asp-area="manage" asp-controller="product" asp-action="create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Create</a>
                        </div>
                        <div class="card mb-4">
                            <div class="card-body px-0 pt-0 pb-2">
                                <div class="p-0">
                                    <table class="table align-items-center mb-0" style="padding:20px 20px 0px">
                                        <thead>
                                            <tr>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">No</th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Image</th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Title</th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Brand</th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Color</th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Category</th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Price</th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Discount</th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Description</th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Created At</th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Created By</th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Settings</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (Product product in Model)
                                            {
                                                no++;
                                                <tr>
                                                    <td>@no</td>
                                                    <td>
                                                        <img style="width:100px;" src="~/assets/img/product/@product.MainImage">
                                                    </td>
                                                    <td class="product-title"><p>@product.Title</p></td>
                                                    <td class="product-title"><p>@product.Brand?.Name</p></td>
                                                    <td>@string.Join(", ", product.ProductColors.Select(pc => pc.Color.Title))</td>
                                                    <td>@string.Join(", ", product.ProductCategories.Select(t=>t.Category.Name))</td>
                                                    <td>@product.Price</td>
                                                    <td>@product.DiscountedPrice</td>
                                                    <td class="description">
                                                        @Html.Raw(product.Description)
                                                    </td>
                                                    <td>@product.CreatedAt?.ToString("yyyy / MM / dd")</td>
                                                    <td>@product.CreatedBy</td>
                                                    <td>
                                                        <a class="btn btn-primary" asp-area="manage" asp-controller="product" asp-action="Detail" asp-route-id="@product.Id">Detail</a>
                                                        <a class="btn btn-warning" asp-area="manage" asp-controller="product" asp-action="Update" asp-route-id="@product.Id">Update</a>
                                                        <a class="btn btn-danger" asp-area="manage" asp-controller="product" asp-action="Delete" asp-route-id="@product.Id">Delete</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                         <div class="pagination-wrapper pagination-wraapper-blog">
                                <nav class="pagination d-flex justify-content-center align-items-center">
                                    <ul class="pagination">
                                        @if (Model.HasPrev)
                                        {
                                        <li class="page-item"><a class="page-link" asp-area="manage" asp-controller="product" asp-action="index" asp-route-currentPage="@(Model.CurrentPage-1)"><i class="fa-solid fa-arrow-left-long"></i></a></li>
                                        }
                                        @for (int i = Model.Start; i <= Model.End; i++)
                                        {
                                        <li class="page-item @(Model.CurrentPage == i ? "active" : "") "><a class="page-link" style="background:none;" asp-area="manage" asp-controller="product" asp-action="index" asp-route-currentPage="@i">@i</a></li>
                                        }
                                        @if (Model.HasNext)
                                        {
                                        <li class="page-item"><a class="page-link" asp-area="manage" asp-controller="product" asp-action="index" asp-route-currentPage="@(Model.CurrentPage+1)"><i class="fa-solid fa-arrow-right-long"></i></a></li>
                                        }
                                    </ul>
                                </nav>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>