@model IQueryable<Color>
@{
    ViewData["Title"] = "Index";
    int no = 0;
}
<main class="main-content  mt-0">
    <section>
        <div class="page-header min-vh-75">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Page Heading -->
                        <div class="d-sm-flex justify-content-between mt-4 mb-4">
                            <h1 class="h3 mb-0 text-gray-800">Color</h1>
                            <a asp-area="manage" asp-controller="color" asp-action="create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Create</a>
                        </div>
                        <div class="card mb-4">
                            <div class="card-body px-0 pt-0 pb-2">
                                <div class="table-responsive p-0">
                                    <table class="table align-items-center mb-0" style="padding:20px 20px 0px">
                                        <thead>
                                            <tr>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">No</th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Title</th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Product Count</th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Created At</th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Created By</th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Settings</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (Color color in Model)
                                            {
                                                no++;
                                                <tr>
                                                    <td>@no</td>
                                                    <td>@color.Title</td>
                                                    <td>@color.ProductColors.Count</td>
                                                    <td>@color.CreatedAt?.ToString("yyyy / MM / dd")</td>
                                                    <td>@color.CreatedBy</td>
                                                    <td>
                                                        <a class="btn btn-warning" asp-area="manage" asp-controller="color" asp-action="Update" asp-route-id="@color.Id">Update</a>
                                                        <a class="btn btn-danger" asp-area="manage" asp-controller="color" asp-action="Delete" asp-route-id="@color.Id">Delete</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>