@model PageNatedList<Product>
@{
    ViewData["Title"] = "Index";
    IEnumerable<Category> categories = ViewBag.Categories;
    IEnumerable<Brand> brands = ViewBag.Brands;
}
<style>
    .content-for-layout header {
        display:none;
    }

    .content-for-layout .content-for-layout .common-banner-section {
        display:none;
    }

    .content-for-layout footer {
        display:none;
    }
</style>
<main class="content-for-layout home-wrapper product-page">
    <section class="shopify-section common-banner-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-12">
                    <div class="common-banner-content">
                        <a href="javascript:history.go(-1)" class="back-btn">
                            <span class="svg-ic">
                                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="5" viewBox="0 0 11 5" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5791 2.28954C10.5791 2.53299 10.3818 2.73035 10.1383 2.73035L1.52698 2.73048L2.5628 3.73673C2.73742 3.90636 2.74146 4.18544 2.57183 4.36005C2.40219 4.53467 2.12312 4.53871 1.9485 4.36908L0.133482 2.60587C0.0480403 2.52287 -0.000171489 2.40882 -0.000171488 2.2897C-0.000171486 2.17058 0.0480403 2.05653 0.133482 1.97353L1.9485 0.210321C2.12312 0.0406877 2.40219 0.044729 2.57183 0.219347C2.74146 0.393966 2.73742 0.673036 2.5628 0.842669L1.52702 1.84888L10.1383 1.84875C10.3817 1.84874 10.5791 2.04609 10.5791 2.28954Z" fill="white"></path>
                                </svg>
                            </span>
                            Back to home
                        </a>
                        <div class="section-title">
                            <h2>All Products</h2>
                        </div>
                        <p> <span>Online gaming, electronic game playing over a computer network, particularly over the Internet. Electronic game worlds have generated billions of dollars, with millions of players around the world fighting, buying, crafting, and selling in a variety of online environments.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="Product-Div" class="shopify-section product-listing-section padding-bottom">
        <div id="ProductGridContainer">
            <div class="collection">
                <div class="product-heading-row">
                    <div class="container">
                        <div class="row">
                            <div class="product-heading-column col-lg-3 col-md-4 col-1">
                                <div class="filter-title">
                                    <h4 class="desk-only">Filters</h4>
                                </div>
                            </div>
                            <div class="product-heading-right-column col-lg-9 col-md-8 col-11">
                                <div class="product-sorting-row d-flex align-items-center justify-content-between">
                                    <ul class="produdt-filter-cat d-flex align-items-center">
                                        <li><a asp-controller="home" asp-action="index">Home</a></li>
                                        <li><a href="">Products</a></li>
                                        @if (ViewBag.SortBy != null)
                                        {
                                            <li><a href="">@ViewBag.SortBy</a></li>
                                        }
                                    </ul>
                                    <div class="filter-select-box d-flex align-items-center justify-content-end">
                                        <form id="FacetFiltersForm" asp-controller="Home" asp-action="Index" method="get">
                                            <div class="facet-filters sorting caption">
                                                <div class="facet-filters__field">
                                                    <span class="sort-lbl">
                                                        <label for="SortBy">Sort by:</label>
                                                    </span>
                                                    <select class="nice-select facet-filters__sort select__select caption-large" id="SortBy" name="sortBy">
                                                        <option value="manual">Featured</option>
                                                        <option value="title-ascending">Alphabetically, A-Z</option>
                                                        <option value="title-descending">Alphabetically, Z-A</option>
                                                        <option value="price-ascending">Price, low to high</option>
                                                        <option value="price-descending">Price, high to low</option>
                                                        <option value="created-ascending">Date, old to new</option>
                                                        <option value="created-descending">Date, new to old</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="product-list-row row">
                        <div class="product-filter-column col-lg-3 col-md-4 col-1" id="main-collection-filters">
                            <div class="facets-container product-filter-body pc-product-filter-body">
                                <div class="facets small-hide">
                                    <form id="FacetFiltersForm" class="facets__form" method="post">
                                        <div class="d-flex">
                                            <div class="active-facets active-facets-desktop">
                                                <a href="" class="active-facets__button-remove btn-secondary">
                                                    <span>Remove all</span>
                                                </a>
                                            </div>
                                            <div class="active-facets active-facets-desktop">
                                                <button type="button" class="no-js-hidden btn apply-btn" onclick="applyFilters()">Apply</button>
                                            </div>
                                        </div>
                                        <div id="FacetsWrapperDesktop" class="facets__wrapper">
                                            <!-- Availability Filter -->
                                            <div class="product-widget disclosure-has-popup facets__disclosure js-filter">
                                                <div id="filter_open_avail" class="acnav-label">Availability</div>
                                                <div id="filter-content-avail" class="facets__display pro-itm-inner acnav-list">
                                                    <div class="facets__header">
                                                        <span class="facets__selected no-js-hidden">0 selected</span>
                                                        <a href="" class="facets__reset link">
                                                            Reset
                                                        </a>
                                                    </div>
                                                    <ul class="facets__list list-unstyled">
                                                        <li class="list-menu__item facets__item">
                                                            <label class="facet-checkbox">
                                                                <input type="checkbox" id="Filter-Availability-1" value="In stock" name="filter.availability">
                                                                <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                                                                    <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                                                </svg>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                                                In stock
                                                            </label>
                                                            <span class="filter-count">(4)</span>
                                                        </li>
                                                        <li class="list-menu__item facets__item ">
                                                            <label class="facet-checkbox facet-checkbox--disabled">
                                                                <input type="checkbox" id="Filter-Availability-2" value="Out of stock" name="filter.availability">
                                                                <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                                                                    <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                                                </svg>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                                                Out of stock
                                                            </label>
                                                            <span class="filter-count">(0)</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <!-- Price Filter -->
                                            <div class="product-price-widget product-widget disclosure-has-popup facets__disclosure js-filter">
                                                <div id="filter_open_price" class="acnav-label">Price</div>
                                                <div id="filter-content-price" class="facets__display pro-itm-inner acnav-list">
                                                    <div class="facets__header">
                                                        <a href="#" class="facets__reset link" onclick="resetFilter('price')">Reset</a>
                                                    </div>
                                                    <div class="facets__price">
                                                        <div class="field">
                                                            <label class="field__label">Min price:</label>
                                                            <input id="MinPrice" class="field__input" type="number" placeholder="0" min="" max="">
                                                        </div>
                                                        <div class="field">
                                                            <label class="field__label">Max price:</label>
                                                            <input id="MaxPrice" class="field__input" type="number" min="0" placeholder="0" max="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="product-widget disclosure-has-popup facets__disclosure js-filter">
                                                <div id="filter_open_type" class="acnav-label">Product type</div>
                                                <div id="filter-content-type" class="facets__display pro-itm-inner acnav-list">
                                                    <div class="facets__header">
                                                        <span class="facets__selected no-js-hidden">0 selected</span>
                                                        <div>
                                                            <a href="" class="facets__reset link">
                                                                Reset
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <ul class="facets__list list-unstyled">
                                                        @if(categories!= null)
                                                        {
                                                            @foreach (var category in categories)
                                                            {
                                                                <li class="list-menu__item facets__item ">
                                                                    <label class="facet-checkbox">
                                                                        <input type="checkbox" name="filter.category" value="@category.Name">
                                                                        <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                                                                            <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                                                        </svg>
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                                                        @category.Name
                                                                    </label>
                                                                </li>
                                                            }
                                                        }
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="product-widget disclosure-has-popup facets__disclosure js-filter">
                                                <div id="filter_open_brand" class="acnav-label">Brand</div>
                                                <div id="filter-content-brand" class="facets__display pro-itm-inner acnav-list">
                                                    <div class="facets__header">
                                                        <span class="facets__selected no-js-hidden">0 selected</span>
                                                        <div>
                                                            <a href="" class="facets__reset link">
                                                                Reset
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <ul class="facets__list list-unstyled">
                                                        @foreach(Brand brand in brands)
                                                        {
                                                            <li class="list-menu__item facets__item ">
                                                                <label class="facet-checkbox">
                                                                    <input type="checkbox" name="filter.brand" value="@brand.Name">
                                                                    <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                                                                        <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                                                    </svg>
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                                                    @brand.Name
                                                                </label>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="product-widget disclosure-has-popup facets__disclosure js-filter">
                                                <div id="filter_open_color" class="acnav-label">Color</div>
                                                <div id="filter-content-color" class="facets__display pro-itm-inner acnav-list">
                                                    <div class="facets__header">
                                                        <span class="facets__selected no-js-hidden">0 selected</span>
                                                        <div>
                                                            <a href="" class="facets__reset link" role="button">
                                                                Reset
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <ul class="facets__list list-unstyled">
                                                        @foreach (Color color in ViewBag.Colors)
                                                        {
                                                            <li class="list-menu__item facets__item facets-color">
                                                                <label class="facet-checkbox">
                                                                    <input type="checkbox" style="background-color: @color.Title; z-index: unset" name="filter.color" value="@color.Title">
                                                                    <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                                                                        <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                                                    </svg>
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                                                    @color.Title
                                                                </label>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="active-facets active-facets-mobile medium-hide large-up-hide">
                                    <div class="active-facets__button-wrapper">
                                        <a href="" class="active-facets__button-remove btn-secondary">
                                            <span>Remove all</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-count light hidden">
                                    <p id="ProductCount" class="product-count__text">4 products</p>
                                    <div class="loading-overlay__spinner">
                                        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                        </svg>
                                    </div>
                                </div>
                                <div class="mobile-facets__open mobile-only">
                                    <svg class="icon icon-filter" aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="none">
                                        <path fill-rule="evenodd" d="M4.833 6.5a1.667 1.667 0 1 1 3.334 0 1.667 1.667 0 0 1-3.334 0ZM4.05 7H2.5a.5.5 0 0 1 0-1h1.55a2.5 2.5 0 0 1 4.9 0h8.55a.5.5 0 0 1 0 1H8.95a2.5 2.5 0 0 1-4.9 0Zm11.117 6.5a1.667 1.667 0 1 0-3.334 0 1.667 1.667 0 0 0 3.334 0ZM13.5 11a2.5 2.5 0 0 1 2.45 2h1.55a.5.5 0 0 1 0 1h-1.55a2.5 2.5 0 0 1-4.9 0H2.5a.5.5 0 0 1 0-1h8.55a2.5 2.5 0 0 1 2.45-2Z" fill="currentColor"></path>
                                    </svg>
                                </div>

                            </div>
                        </div>

                        <div class="product-container product-filter-right-column col-lg-9 col-md-8 col-12">
                            <div id="product-grid" class="row dark-contnt">
                                @await Html.PartialAsync("_ProductGridPartial", Model)
                            </div>
                        </div>
                        <div class="pagination-wrapper pagination-wraapper-blog">
                            <nav class="pagination d-flex justify-content-center align-items-center">
                                <ul class="pagination">
                                    @if (Model.HasPrev)
                                    {
                                        <li class="page-item"><a class="page-link" asp-controller="product" asp-action="index" asp-route-currentPage="@(Model.CurrentPage - 1)" asp-route-sortBy="@ViewBag.SortBy"><i class="fa-solid fa-arrow-left-long"></i></a></li>
                                    }
                                    @for (int i = Model.Start; i <= Model.End; i++)
                                    {
                                        <li class="page-item @(Model.CurrentPage == i ? "active" : "") "><a class="page-link" style="background:none;" asp-controller="product" asp-action="index" asp-route-currentPage="@i" asp-route-sortBy="@ViewBag.SortBy">@i</a></li>
                                    }
                                    @if (Model.HasNext)
                                    {
                                        <li class="page-item"><a class="page-link" asp-controller="product" asp-action="index" asp-route-currentPage="@(Model.CurrentPage + 1)" asp-route-sortBy="@ViewBag.SortBy"><i class="fa-solid fa-arrow-right-long"></i></a></li>
                                    }
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- FILTER MOBILE MODAL START -->
<div class="mobile-facets__wrapper mobile-only">
    <div class="mobile-facets__disclosure disclosure-has-popup">
        <div class="mobile-facets__open-wrapper focus-offset">
            <span id="close-filter" class="close-filter d-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                    <path d="M27.7618 25.0008L49.4275 3.33503C50.1903 2.57224 50.1903 1.33552 49.4275 0.572826C48.6647 -0.189868 47.428 -0.189965 46.6653 0.572826L24.9995 22.2386L3.33381 0.572826C2.57102 -0.189965 1.3343 -0.189965 0.571605 0.572826C-0.191089 1.33562 -0.191186 2.57233 0.571605 3.33503L22.2373 25.0007L0.571605 46.6665C-0.191186 47.4293 -0.191186 48.666 0.571605 49.4287C0.952952 49.81 1.45285 50.0007 1.95275 50.0007C2.45266 50.0007 2.95246 49.81 3.3339 49.4287L24.9995 27.763L46.6652 49.4287C47.0465 49.81 47.5464 50.0007 48.0463 50.0007C48.5462 50.0007 49.046 49.81 49.4275 49.4287C50.1903 48.6659 50.1903 47.4292 49.4275 46.6665L27.7618 25.0008Z" fill="white"></path>
                </svg>
            </span>
        </div>
        <div id="mobile-filter-content" class="mobile-filter-content d-none filterClose">
            <form id="mobile-facets" class="mobile-facets">
                <div class="mobile-facets__inner product-filter-body">
                    <div class="mobile-facets__main">
                        <div class="mobile-facets__details js-filter">
                            <div class="mobile-facets__summary focus-inset">
                                <div>
                                    <span>Availability</span>
                                    <span class="mobile-facets__arrow no-js-hidden">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                    </span>
                                    <div id="mobile-filter-downbtn" class="mobile-filter-downbtn d-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                    </div>
                                </div>
                            </div>
                            <div class="mobile-facets__submenu">
                                <button class="mobile-facets__close-button link link--text focus-inset">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                    Availability
                                </button>
                                <ul class="mobile-facets__list list-unstyled">
                                    <li class="mobile-facets__item list-menu__item">
                                        <label class="mobile-facets__label">
                                            <input class="mobile-facets__checkbox" type="checkbox" name="filter.v.availability">
                                            <span class="mobile-facets__highlight"></span>
                                            <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                                                <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                            In stock
                                        </label>
                                        <span class="filter-count">4</span>
                                    </li>
                                    <li class="mobile-facets__item list-menu__item ">
                                        <label class="mobile-facets__label mobile-facets__label--disabled">
                                            <input class="mobile-facets__checkbox" type="checkbox" name="filter.v.availability">
                                            <span class="mobile-facets__highlight"></span>
                                            <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                                                <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                            Out of stock
                                        </label>
                                        <span class="filter-count">0</span>
                                    </li>
                                </ul>
                                <div class="no-js-hidden mobile-facets__footer">
                                    <div class="mobile-facets__clear-wrapper btn-secondary">
                                        <a href="" class="mobile-facets__clear">Clear</a>
                                    </div>
                                    <button type="button" class="no-js-hidden btn">Apply</button>
                                </div>
                            </div>
                        </div>

                        <div class="mobile-facets__details js-filter">
                            <div class="mobile-facets__summary focus-inset">
                                <div>
                                    <span>Price</span>
                                    <span class="mobile-facets__arrow no-js-hidden">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                    </span>
                                    <div id="mobile-filter-downbtn" class="mobile-filter-downbtn d-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                    </div>
                                </div>
                            </div>
                            <div class="mobile-facets__submenu">
                                <button class="mobile-facets__close-button link link--text focus-inset">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                    Price
                                </button>
                                <p class="mobile-facets__info">The highest price is 890.00USD</p>
                                <div class="facets__price">
                                    <div class="field">
                                        <span class="field-currency">$</span>
                                        <label class="field__label">Min price:</label>
                                        <input class="field__input" name="filter.v.price.gte" id="Mobile-Filter-Price-GTE" type="number" placeholder="0" min="0" inputmode="decimal" max="890.00">
                                    </div>
                                    <div class="field">
                                        <span class="field-currency">$</span>
                                        <label class="field__label">Max price:</label>
                                        <input class="field__input" name="filter.v.price.lte" id="Mobile-Filter-Price-LTE" type="number" min="0" inputmode="decimal" placeholder="890.00" max="890.00">
                                    </div>
                                </div>
                                <div class="no-js-hidden mobile-facets__footer">
                                    <div class="mobile-facets__clear-wrapper btn-secondary">
                                        <a href="" class="mobile-facets__clear">Clear</a>
                                    </div>
                                    <button type="button" class="no-js-hidden btn">Apply</button>
                                </div>
                            </div>
                        </div>

                        <div class="mobile-facets__details js-filter">
                            <div class="mobile-facets__summary focus-inset">
                                <div>
                                    <span>Product type</span>
                                    <span class="mobile-facets__arrow no-js-hidden">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                    </span>
                                    <div id="mobile-filter-downbtn" class="mobile-filter-downbtn d-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                    </div>
                                </div>
                            </div>
                            <div class="mobile-facets__submenu">
                                <button class="mobile-facets__close-button link link--text focus-inset">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                    Product type
                                </button>
                                <ul class="mobile-facets__list list-unstyled">
                                    <li class="mobile-facets__item list-menu__item ">
                                        <label class="mobile-facets__label">
                                            <input class="mobile-facets__checkbox" type="checkbox" name="filter.p.product_type" value="Console" id="Filter-Product type-mobile-1">
                                            <span class="mobile-facets__highlight"></span>
                                            <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                                                <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                            Console
                                        </label>
                                        <span class="filter-count">4</span>
                                    </li>
                                </ul>
                                <div class="no-js-hidden mobile-facets__footer">
                                    <div class="mobile-facets__clear-wrapper btn-secondary">
                                        <a href="" class="mobile-facets__clear" role="button">Clear</a>
                                    </div>
                                    <button type="button" class="no-js-hidden btn">Apply</button>
                                </div>
                            </div>
                        </div>

                        <div class="mobile-facets__details js-filter">
                            <div class="mobile-facets__summary focus-inset">
                                <div>
                                    <span>Brand</span>
                                    <span class="mobile-facets__arrow no-js-hidden">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                    </span>
                                    <div id="mobile-filter-downbtn" class="mobile-filter-downbtn d-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                    </div>
                                </div>
                            </div>
                            <div class="mobile-facets__submenu">
                                <button class="mobile-facets__close-button link link--text focus-inset">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                    Brand
                                </button>
                                <ul class="mobile-facets__list list-unstyled">
                                    <li class="mobile-facets__item list-menu__item ">
                                        <label for="Filter-Brand-mobile-1" class="mobile-facets__label">
                                            <input class="mobile-facets__checkbox" type="checkbox" name="filter.p.vendor" value="XFX" id="Filter-Brand-mobile-1">
                                            <span class="mobile-facets__highlight"></span>
                                            <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                                                <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                            XFX
                                        </label>
                                        <span class="filter-count">4</span>
                                    </li>
                                </ul>
                                <div class="no-js-hidden mobile-facets__footer">
                                    <div class="mobile-facets__clear-wrapper btn-secondary">
                                        <a href="" class="mobile-facets__clear">Clear</a>
                                    </div>
                                    <button type="button" class="no-js-hidden btn">Apply</button>
                                </div>
                            </div>
                        </div>

                        <div class="mobile-facets__details js-filter">
                            <div class="mobile-facets__summary focus-inset">
                                <div>
                                    <span>Color</span>
                                    <span class="mobile-facets__arrow no-js-hidden">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                    </span>
                                    <div id="mobile-filter-downbtn" class="mobile-filter-downbtn d-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                    </div>
                                </div>
                            </div>
                            <div class="mobile-facets__submenu">
                                <button class="mobile-facets__close-button link link--text focus-inset">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                    Color
                                </button>
                                <ul class="mobile-facets__list list-unstyled">
                                    <li class="mobile-facets__item list-menu__item facets-color">
                                        <label class="mobile-facets__label">
                                            <input class="mobile-facets__checkbox" type="checkbox" name="filter.v.option.color" value="Black" id="Filter-Color-mobile-1" style="background-color: Black;">
                                            <span class="mobile-facets__highlight"></span>
                                            <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                                                <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                            Black
                                        </label>
                                        <span class="filter-count">2</span>
                                    </li>
                                    <li class="mobile-facets__item list-menu__item facets-color">
                                        <label class="mobile-facets__label">
                                            <input class="mobile-facets__checkbox" type="checkbox" name="filter.v.option.color" value="Blue" id="Filter-Color-mobile-2" style="background-color: Blue;">
                                            <span class="mobile-facets__highlight"></span>
                                            <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                                                <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                            Blue
                                        </label>
                                        <span class="filter-count">1</span>
                                    </li>
                                    <li class="mobile-facets__item list-menu__item facets-color">
                                        <label class="mobile-facets__label">
                                            <input class="mobile-facets__checkbox" type="checkbox" name="filter.v.option.color" value="Grey" id="Filter-Color-mobile-3" style="background-color: Grey;">
                                            <span class="mobile-facets__highlight"></span>
                                            <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                                                <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                            Grey
                                        </label>
                                        <span class="filter-count">1</span>
                                    </li>
                                    <li class="mobile-facets__item list-menu__item facets-color">
                                        <label class="mobile-facets__label">
                                            <input class="mobile-facets__checkbox" type="checkbox" name="filter.v.option.color" value="White" id="Filter-Color-mobile-4" style="background-color: White;">
                                            <span class="mobile-facets__highlight"></span>
                                            <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                                                <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                            White
                                        </label>
                                        <span class="filter-count">2</span>
                                    </li>
                                </ul>
                                <div class="no-js-hidden mobile-facets__footer">
                                    <facet-remove class="mobile-facets__clear-wrapper btn-secondary">
                                        <a href="" class="mobile-facets__clear">Clear</a>
                                    </facet-remove>
                                    <button class="no-js-hidden btn">Apply</button>
                                </div>
                            </div>
                        </div>

                        <div class="mobile-facets__footer">
                            <div class="mobile-facets__clear-wrapper btn-secondary">
                                <a href="" class="mobile-facets__clear">Remove all</a>
                            </div>
                            <button type="button" class="no-js-hidden btn apply-btn">Apply</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- FILTER MOBILE MODAL END -->