@model PageNatedList<Product>
@{
    ViewData["Title"] = "Index";
}

<main id="MainContent" class="content-for-layout home-wrapper product-page">
    <section class="shopify-section common-banner-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-12">
                    <div class="common-banner-content">
                        <a href="javascript:history.go(-1)" class="back-btn">
                            <span class="svg-ic">
                                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="5" viewBox="0 0 11 5" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5791 2.28954C10.5791 2.53299 10.3818 2.73035 10.1383 2.73035L1.52698 2.73048L2.5628 3.73673C2.73742 3.90636 2.74146 4.18544 2.57183 4.36005C2.40219 4.53467 2.12312 4.53871 1.9485 4.36908L0.133482 2.60587C0.0480403 2.52287 -0.000171489 2.40882 -0.000171488 2.2897C-0.000171486 2.17058 0.0480403 2.05653 0.133482 1.97353L1.9485 0.210321C2.12312 0.0406877 2.40219 0.044729 2.57183 0.219347C2.74146 0.393966 2.73742 0.673036 2.5628 0.842669L1.52702 1.84888L10.1383 1.84875C10.3817 1.84874 10.5791 2.04609 10.5791 2.28954Z" fill="white"></path>
                                </svg>
                            </span>
                            Back to home
                        </a>
                        <div class="section-title">
                            <h2>All Products</h2>
                        </div>
                        <p> <span>Online gaming, electronic game playing over a computer network, particularly over the Internet. Electronic game worlds have generated billions of dollars, with millions of players around the world fighting, buying, crafting, and selling in a variety of online environments.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="shopify-section product-listing-section padding-bottom">
        <div id="ProductGridContainer">
            <div class="collection">
                <div class="product-heading-row">
                    <div class="container">
                        <div class="row">
                            <div class="product-heading-column col-lg-3 col-md-4 col-1">
                                <div class="filter-title">
                                    <h4 class="desk-only">Filters</h4>
                                </div>
                            </div>
                            <div class="product-heading-right-column col-lg-9 col-md-8 col-11">
                                <div class="product-sorting-row d-flex align-items-center justify-content-between">
                                    <ul class="produdt-filter-cat d-flex align-items-center">
                                        <li><a href="javascript:history.go(-1)">Home</a></li>
                                        <li><a href="">Game Console</a></li>
                                    </ul>
                                    <div class="filter-select-box d-flex align-items-center justify-content-end">
                                        <form id="FacetFiltersForm">
                                            <div class="facet-filters sorting caption">
                                                <div class="facet-filters__field">
                                                    <span class="sort-lbl">
                                                        <label for="SortBy">Sort by:</label>
                                                    </span>
                                                    <select class="nice-select facet-filters__sort select__select caption-large" id="SortBy">
                                                        <option value="manual">Featured</option>
                                                        <option value="best-selling" selected="selected">Best selling</option>
                                                        <option value="title-ascending">Alphabetically, A-Z</option>
                                                        <option value="title-descending">Alphabetically, Z-A</option>
                                                        <option value="price-ascending">Price, low to high</option>
                                                        <option value="price-descending">Price, high to low</option>
                                                        <option value="created-ascending">Date, old to new</option>
                                                        <option value="created-descending">Date, new to old</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="product-list-row row">
                        <div class="product-filter-column col-lg-3 col-md-4 col-1" id="main-collection-filters">
                            <div class="facets-container product-filter-body pc-product-filter-body">
                                <div class="facets small-hide">
                                    <form id="FacetFiltersForm" class="facets__form">
                                        <div class="active-facets active-facets-desktop">
                                            <a href="" class="active-facets__button-remove btn-secondary">
                                                <span>Remove all</span>
                                            </a>
                                        </div>

                                        <div id="FacetsWrapperDesktop" class="facets__wrapper">
                                            <div class="product-widget disclosure-has-popup facets__disclosure js-filter">
                                                <div id="filter_open_avail" class="acnav-label">Availability</div>
                                                <div id="filter-content-avail" class="facets__display pro-itm-inner acnav-list">
                                                    <div class="facets__header">
                                                        <span class="facets__selected no-js-hidden">0 selected</span>
                                                        <a href="" class="facets__reset link">
                                                            Reset
                                                        </a>
                                                    </div>
                                                    <ul class="facets__list list-unstyled">
                                                        <li class="list-menu__item facets__item">
                                                            <label class="facet-checkbox">
                                                                <input type="checkbox" id="Filter-Availability-1">
                                                                <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                                                                    <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                                                </svg>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                                                In stock
                                                            </label>
                                                            <span class="filter-count">(4)</span>
                                                        </li>
                                                        <li class="list-menu__item facets__item ">
                                                            <label class="facet-checkbox facet-checkbox--disabled">
                                                                <input type="checkbox" id="Filter-Availability-2">
                                                                <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                                                                    <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                                                </svg>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                                                Out of stock
                                                            </label>
                                                            <span class="filter-count">(0)</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="product-price-widget product-widget disclosure-has-popup facets__disclosure js-filter">
                                                <div id="filter_open_price" class="acnav-label">Price</div>
                                                <div id="filter-content-price" class="facets__display pro-itm-inner acnav-list">
                                                    <div class="facets__header">
                                                        <span class="facets__selected price-header">The highest price is 890.00USD</span>
                                                        <div>
                                                            <a href="" class="facets__reset link">
                                                                Reset
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="facets__price">
                                                        <div class="field">
                                                            <label class="field__label">Min price:</label>
                                                            <input class="field__input" type="number" placeholder="0" min="" max="">
                                                        </div>
                                                        <div class="field">
                                                            <label class="field__label">Max price:</label>
                                                            <input class="field__input" type="number" min="0" placeholder="0" max="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="product-widget disclosure-has-popup facets__disclosure js-filter">
                                                <div id="filter_open_type" class="acnav-label">Product type</div>
                                                <div id="filter-content-type" class="facets__display pro-itm-inner acnav-list">
                                                    <div class="facets__header">
                                                        <span class="facets__selected no-js-hidden">0 selected</span>
                                                        <div>
                                                            <a href="" class="facets__reset link">
                                                                Reset
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <ul class="facets__list list-unstyled">
                                                        <li class="list-menu__item facets__item ">
                                                            <label class="facet-checkbox">
                                                                <input type="checkbox" value="Console">
                                                                <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                                                                    <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                                                </svg>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                                                Console
                                                            </label>
                                                            <span class="filter-count">(4)</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="product-widget disclosure-has-popup facets__disclosure js-filter">
                                                <div id="filter_open_brand" class="acnav-label">Brand</div>
                                                <div id="filter-content-brand" class="facets__display pro-itm-inner acnav-list">
                                                    <div class="facets__header">
                                                        <span class="facets__selected no-js-hidden">0 selected</span>
                                                        <div>
                                                            <a href="" class="facets__reset link">
                                                                Reset
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <ul class="facets__list list-unstyled">
                                                        <li class="list-menu__item facets__item ">
                                                            <label class="facet-checkbox">
                                                                <input type="checkbox" value="XFX">
                                                                <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                                                                    <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                                                </svg>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                                                XFX
                                                            </label>
                                                            <span class="filter-count">(4)</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="product-widget disclosure-has-popup facets__disclosure js-filter">
                                                <div id="filter_open_color" class="acnav-label">Color</div>
                                                <div id="filter-content-color" class="facets__display pro-itm-inner acnav-list">
                                                    <div class="facets__header">
                                                        <span class="facets__selected no-js-hidden">0 selected</span>
                                                        <div>
                                                            <a href="" class="facets__reset link" role="button">
                                                                Reset
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <ul class="facets__list list-unstyled">
                                                        <li class="list-menu__item facets__item facets-color">
                                                            <label class="facet-checkbox">
                                                                <input type="checkbox" style="background-color: Black; z-index: unset" name="filter.v.option.color">
                                                                <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                                                                    <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                                                </svg>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                                                Black
                                                            </label>
                                                            <span class="filter-count">(2)</span>
                                                        </li>
                                                        <li class="list-menu__item facets__item facets-color">
                                                            <label class="facet-checkbox">
                                                                <input type="checkbox" style="background-color: Blue; z-index: unset" name="filter.v.option.color" value="Blue">
                                                                <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                                                                    <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                                                </svg>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                                                Blue
                                                            </label>
                                                            <span class="filter-count">(1)</span>
                                                        </li>
                                                        <li class="list-menu__item facets__item facets-color">
                                                            <label class="facet-checkbox">
                                                                <input type="checkbox" style="background-color: Grey; z-index: unset" name="filter.v.option.color">
                                                                <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                                                                    <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                                                </svg>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                                                Grey
                                                            </label>
                                                            <span class="filter-count">(1)</span>
                                                        </li>
                                                        <li class="list-menu__item facets__item facets-color">
                                                            <label class="facet-checkbox">
                                                                <input type="checkbox" style="background-color: White; z-index: unset" name="filter.v.option.color">
                                                                <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                                                                    <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                                                </svg>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                                                White
                                                            </label>
                                                            <span class="filter-count">(2)</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="active-facets active-facets-mobile medium-hide large-up-hide">
                                    <div class="active-facets__button-wrapper">
                                        <a href="" class="active-facets__button-remove btn-secondary">
                                            <span>Remove all</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-count light hidden">
                                    <p id="ProductCount" class="product-count__text">4 products</p>
                                    <div class="loading-overlay__spinner">
                                        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                        </svg>
                                    </div>
                                </div>
                                <div class="mobile-facets__open mobile-only">
                                    <svg class="icon icon-filter" aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="none">
                                        <path fill-rule="evenodd" d="M4.833 6.5a1.667 1.667 0 1 1 3.334 0 1.667 1.667 0 0 1-3.334 0ZM4.05 7H2.5a.5.5 0 0 1 0-1h1.55a2.5 2.5 0 0 1 4.9 0h8.55a.5.5 0 0 1 0 1H8.95a2.5 2.5 0 0 1-4.9 0Zm11.117 6.5a1.667 1.667 0 1 0-3.334 0 1.667 1.667 0 0 0 3.334 0ZM13.5 11a2.5 2.5 0 0 1 2.45 2h1.55a.5.5 0 0 1 0 1h-1.55a2.5 2.5 0 0 1-4.9 0H2.5a.5.5 0 0 1 0-1h8.55a2.5 2.5 0 0 1 2.45-2Z" fill="currentColor"></path>
                                    </svg>
                                </div>

                            </div>
                        </div>

                        <div class="product-filter-right-column col-lg-9 col-md-8 col-12">
                            <div id="product-grid" class="row dark-contnt">
                                @foreach (Product product in Model)
                                {
                                    <div class="grid__item col-lg-4 col-md-6 col-sm-6 col-12 product-card card">
                                        <div class="product-card-inner card-inner">
                                            <h4 class="product-title">
                                                <a asp-controller="product" asp-action="detail">@product.Title</a>
                                            </h4>
                                            <ul class="product-number">
                                                <li>
                                                    TYPE: @string.Join(", ", product.ProductCategories.Select(pc => pc.Category.Name))
                                                </li>
                                            </ul>
                                            <div class="product-card-image">
                                                <div class="product-card-image card__media">
                                                    <a asp-controller="product" asp-action="detail" class="product__media-item">
                                                        <img class="" src="/assets/img/product/@product.MainImage" alt="">
                                                    </a>
                                                    <span class="slide-label">New</span>
                                                    <div class="pro_btn">
                                                        <div class="pro_btn_wrapper">
                                                            <div class="quickview-btn" id="quickview">
                                                                <a style="text-decoration:none" href="">
                                                                    <svg id="Layer_1" enable-background="new 0 0 32 32" height="20" viewBox="0 0 32 32" width="20" xmlns="http://www.w3.org/2000/svg"><path d="m16 21.693c3.14 0 5.693-2.554 5.693-5.693s-2.553-5.693-5.693-5.693-5.693 2.553-5.693 5.693 2.553 5.693 5.693 5.693zm0-9.386c2.036 0 3.693 1.657 3.693 3.693s-1.657 3.693-3.693 3.693-3.693-1.657-3.693-3.693 1.657-3.693 3.693-3.693z"></path><path d="m16 25.326c8.138 0 14.531-8.368 14.799-8.725.269-.356.269-.847 0-1.203-.268-.356-6.661-8.724-14.799-8.724s-14.531 8.368-14.799 8.724c-.269.356-.269.847 0 1.203.268.357 6.661 8.725 14.799 8.725zm0-16.652c5.958 0 11.132 5.476 12.709 7.326-1.577 1.851-6.751 7.326-12.709 7.326s-11.132-5.475-12.709-7.326c1.577-1.851 6.751-7.326 12.709-7.326z"></path></svg>
                                                                </a>
                                                            </div>
                                                            <div class="pro-compare">
                                                                <label>
                                                                    <span class="compare-label">
                                                                        <svg fill="none" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd" d="m17.2929 4.29289c-.3905.39053-.3905 1.02369 0 1.41422l1.2929 1.29289h-5.5858c-2.2091 0-4 1.79086-4 4v1c0 .5523.44772 1 1 1 .5523 0 1-.4477 1-1v-1c0-1.10457.8954-2 2-2h5.5858l-1.2929 1.2929c-.3905.3905-.3905 1.0237 0 1.4142s1.0237.3905 1.4142 0l3-2.99999c.3905-.39053.3905-1.02369 0-1.41422l-3-3c-.3905-.39052-1.0237-.39052-1.4142 0zm-3.2929 6.70711c-.5523 0-1 .4477-1 1v1c0 1.1046-.8954 2-2 2h-5.58579l1.2929-1.2929c.39052-.3905.39052-1.0237 0-1.4142-.39053-.3905-1.02369-.3905-1.41422 0l-3 3c-.39052.3905-.39052 1.0237 0 1.4142l3 3c.39053.3905 1.02369.3905 1.41422 0 .39052-.3905.39052-1.0237 0-1.4142l-1.2929-1.2929h5.58579c2.2091 0 4-1.7909 4-4v-1c0-.5523-.4477-1-1-1z" fill="rgb(0,0,0)" fill-rule="evenodd"></path></svg>
                                                                    </span>
                                                                    <a class="compare-now" href="" style="display:none;">Compare Now</a>
                                                                    <input type="checkbox" id="true" data-value="true" style="display:none;" pro-handle="nintendo-switch-lite-turquoise"><span class="checkmark"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <div class="pro-labl">Color: @string.Join(", ", product.ProductColors.Select(pc => pc.Color.Title))</div>
                                                <div class="product-content-bottom d-flex align-items-center justify-content-between">
                                                    <div class="no-js-hidden price">
                                                        @if (product.DiscountedPrice == null || product.DiscountedPrice == 0)
                                                        {
                                                            <ins class="price-item--regular">@product.Price <span class="currency-type">USD</span></ins>
                                                        }
                                                        else
                                                        {
                                                            <ins class="price-item--regular">@product.Price <span class="currency-type">USD</span></ins>
                                                            <ins class="price-item--sale">@product.DiscountedPrice <span class="currency-type">USD</span></ins>
                                                        }
                                                    </div>
                                                    <div class="product-form">
                                                        <form class="form">
                                                            <button type="submit" name="add" class="btn-primary add-cart-btn product-form__submit">
                                                                <span>Add to Cart</span>
                                                                <div class="loading-overlay__spinner hidden">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 511.494 511.494" style="enable-background:new 0 0 511.494 511.494;" xml:space="preserve" width="20" height="20">
                                                                        <g>
                                                                        <path d="M478.291,255.492c-16.133,0.143-29.689,12.161-31.765,28.16c-15.37,105.014-112.961,177.685-217.975,162.315 S50.866,333.006,66.236,227.992S179.197,50.307,284.211,65.677c35.796,5.239,69.386,20.476,96.907,43.959l-24.107,24.107   c-8.33,8.332-8.328,21.84,0.004,30.17c4.015,4.014,9.465,6.262,15.142,6.246h97.835c11.782,0,21.333-9.551,21.333-21.333V50.991   c-0.003-11.782-9.556-21.331-21.338-21.329c-5.655,0.001-11.079,2.248-15.078,6.246l-28.416,28.416   C320.774-29.34,159.141-19.568,65.476,86.152S-18.415,353.505,87.304,447.17s267.353,83.892,361.017-21.828   c32.972-37.216,54.381-83.237,61.607-132.431c2.828-17.612-9.157-34.183-26.769-37.011   C481.549,255.641,479.922,255.505,478.291,255.492z"></path>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="pagination-wrapper pagination-wraapper-blog">
                            <nav class="pagination d-flex justify-content-center align-items-center">
                                <ul class="pagination">
                                    @if (Model.HasPrev)
                                    {
                                        <li class="page-item"><a class="page-link" asp-controller="product" asp-action="index" asp-route-currentPage="@(Model.CurrentPage-1)"><i class="fa-solid fa-arrow-left-long"></i></a></li>
                                    }
                                    @for (int i = Model.Start; i <= Model.End; i++)
                                    {
                                        <li class="page-item @(Model.CurrentPage == i ? "active" : "") "><a class="page-link" style="background:none;" asp-controller="product" asp-action="index" asp-route-currentPage="@i">@i</a></li>
                                    }
                                    @if (Model.HasNext)
                                    {
                                        <li class="page-item"><a class="page-link" asp-controller="product" asp-action="index" asp-route-currentPage="@(Model.CurrentPage+1)"><i class="fa-solid fa-arrow-right-long"></i></a></li>
                                    }
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- FILTER MOBILE MODAL START -->
<div class="mobile-facets__wrapper mobile-only">
    <div class="mobile-facets__disclosure disclosure-has-popup">
        <div class="mobile-facets__open-wrapper focus-offset">
            <span id="close-filter" class="close-filter d-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                    <path d="M27.7618 25.0008L49.4275 3.33503C50.1903 2.57224 50.1903 1.33552 49.4275 0.572826C48.6647 -0.189868 47.428 -0.189965 46.6653 0.572826L24.9995 22.2386L3.33381 0.572826C2.57102 -0.189965 1.3343 -0.189965 0.571605 0.572826C-0.191089 1.33562 -0.191186 2.57233 0.571605 3.33503L22.2373 25.0007L0.571605 46.6665C-0.191186 47.4293 -0.191186 48.666 0.571605 49.4287C0.952952 49.81 1.45285 50.0007 1.95275 50.0007C2.45266 50.0007 2.95246 49.81 3.3339 49.4287L24.9995 27.763L46.6652 49.4287C47.0465 49.81 47.5464 50.0007 48.0463 50.0007C48.5462 50.0007 49.046 49.81 49.4275 49.4287C50.1903 48.6659 50.1903 47.4292 49.4275 46.6665L27.7618 25.0008Z" fill="white"></path>
                </svg>
            </span>
        </div>
        <div id="mobile-filter-content" class="mobile-filter-content d-none filterClose">
            <form id="mobile-facets" class="mobile-facets">
                <div class="mobile-facets__inner product-filter-body">
                    <div class="mobile-facets__main">
                        <div class="mobile-facets__details js-filter">
                            <div class="mobile-facets__summary focus-inset">
                                <div>
                                    <span>Availability</span>
                                    <span class="mobile-facets__arrow no-js-hidden">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                    </span>
                                    <div id="mobile-filter-downbtn" class="mobile-filter-downbtn d-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                    </div>
                                </div>
                            </div>
                            <div class="mobile-facets__submenu">
                                <button class="mobile-facets__close-button link link--text focus-inset">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                    Availability
                                </button>
                                <ul class="mobile-facets__list list-unstyled">
                                    <li class="mobile-facets__item list-menu__item">
                                        <label class="mobile-facets__label">
                                            <input class="mobile-facets__checkbox" type="checkbox" name="filter.v.availability">
                                            <span class="mobile-facets__highlight"></span>
                                            <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                                                <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                            In stock
                                        </label>
                                        <span class="filter-count">4</span>
                                    </li>
                                    <li class="mobile-facets__item list-menu__item ">
                                        <label class="mobile-facets__label mobile-facets__label--disabled">
                                            <input class="mobile-facets__checkbox" type="checkbox" name="filter.v.availability">
                                            <span class="mobile-facets__highlight"></span>
                                            <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                                                <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                            Out of stock
                                        </label>
                                        <span class="filter-count">0</span>
                                    </li>
                                </ul>
                                <div class="no-js-hidden mobile-facets__footer">
                                    <div class="mobile-facets__clear-wrapper btn-secondary">
                                        <a href="" class="mobile-facets__clear">Clear</a>
                                    </div>
                                    <button type="button" class="no-js-hidden btn">Apply</button>
                                </div>
                            </div>
                        </div>

                        <div class="mobile-facets__details js-filter">
                            <div class="mobile-facets__summary focus-inset">
                                <div>
                                    <span>Price</span>
                                    <span class="mobile-facets__arrow no-js-hidden">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                    </span>
                                    <div id="mobile-filter-downbtn" class="mobile-filter-downbtn d-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                    </div>
                                </div>
                            </div>
                            <div class="mobile-facets__submenu">
                                <button class="mobile-facets__close-button link link--text focus-inset">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                    Price
                                </button>
                                <p class="mobile-facets__info">The highest price is 890.00USD</p>
                                <div class="facets__price">
                                    <div class="field">
                                        <span class="field-currency">$</span>
                                        <label class="field__label">Min price:</label>
                                        <input class="field__input" name="filter.v.price.gte" id="Mobile-Filter-Price-GTE" type="number" placeholder="0" min="0" inputmode="decimal" max="890.00">
                                    </div>
                                    <div class="field">
                                        <span class="field-currency">$</span>
                                        <label class="field__label">Max price:</label>
                                        <input class="field__input" name="filter.v.price.lte" id="Mobile-Filter-Price-LTE" type="number" min="0" inputmode="decimal" placeholder="890.00" max="890.00">
                                    </div>
                                </div>
                                <div class="no-js-hidden mobile-facets__footer">
                                    <div class="mobile-facets__clear-wrapper btn-secondary">
                                        <a href="" class="mobile-facets__clear">Clear</a>
                                    </div>
                                    <button type="button" class="no-js-hidden btn">Apply</button>
                                </div>
                            </div>
                        </div>

                        <div class="mobile-facets__details js-filter">
                            <div class="mobile-facets__summary focus-inset">
                                <div>
                                    <span>Product type</span>
                                    <span class="mobile-facets__arrow no-js-hidden">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                    </span>
                                    <div id="mobile-filter-downbtn" class="mobile-filter-downbtn d-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                    </div>
                                </div>
                            </div>
                            <div class="mobile-facets__submenu">
                                <button class="mobile-facets__close-button link link--text focus-inset">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                    Product type
                                </button>
                                <ul class="mobile-facets__list list-unstyled">
                                    <li class="mobile-facets__item list-menu__item ">
                                        <label class="mobile-facets__label">
                                            <input class="mobile-facets__checkbox" type="checkbox" name="filter.p.product_type" value="Console" id="Filter-Product type-mobile-1">
                                            <span class="mobile-facets__highlight"></span>
                                            <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                                                <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                            Console
                                        </label>
                                        <span class="filter-count">4</span>
                                    </li>
                                </ul>
                                <div class="no-js-hidden mobile-facets__footer">
                                    <div class="mobile-facets__clear-wrapper btn-secondary">
                                        <a href="" class="mobile-facets__clear" role="button">Clear</a>
                                    </div>
                                    <button type="button" class="no-js-hidden btn">Apply</button>
                                </div>
                            </div>
                        </div>

                        <div class="mobile-facets__details js-filter">
                            <div class="mobile-facets__summary focus-inset">
                                <div>
                                    <span>Brand</span>
                                    <span class="mobile-facets__arrow no-js-hidden">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                    </span>
                                    <div id="mobile-filter-downbtn" class="mobile-filter-downbtn d-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                    </div>
                                </div>
                            </div>
                            <div class="mobile-facets__submenu">
                                <button class="mobile-facets__close-button link link--text focus-inset">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                    Brand
                                </button>
                                <ul class="mobile-facets__list list-unstyled">
                                    <li class="mobile-facets__item list-menu__item ">
                                        <label for="Filter-Brand-mobile-1" class="mobile-facets__label">
                                            <input class="mobile-facets__checkbox" type="checkbox" name="filter.p.vendor" value="XFX" id="Filter-Brand-mobile-1">
                                            <span class="mobile-facets__highlight"></span>
                                            <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                                                <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                            XFX
                                        </label>
                                        <span class="filter-count">4</span>
                                    </li>
                                </ul>
                                <div class="no-js-hidden mobile-facets__footer">
                                    <div class="mobile-facets__clear-wrapper btn-secondary">
                                        <a href="" class="mobile-facets__clear">Clear</a>
                                    </div>
                                    <button type="button" class="no-js-hidden btn">Apply</button>
                                </div>
                            </div>
                        </div>

                        <div class="mobile-facets__details js-filter">
                            <div class="mobile-facets__summary focus-inset">
                                <div>
                                    <span>Color</span>
                                    <span class="mobile-facets__arrow no-js-hidden">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                    </span>
                                    <div id="mobile-filter-downbtn" class="mobile-filter-downbtn d-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                    </div>
                                </div>
                            </div>
                            <div class="mobile-facets__submenu">
                                <button class="mobile-facets__close-button link link--text focus-inset">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                    Color
                                </button>
                                <ul class="mobile-facets__list list-unstyled">
                                    <li class="mobile-facets__item list-menu__item facets-color">
                                        <label class="mobile-facets__label">
                                            <input class="mobile-facets__checkbox" type="checkbox" name="filter.v.option.color" value="Black" id="Filter-Color-mobile-1" style="background-color: Black;">
                                            <span class="mobile-facets__highlight"></span>
                                            <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                                                <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                            Black
                                        </label>
                                        <span class="filter-count">2</span>
                                    </li>
                                    <li class="mobile-facets__item list-menu__item facets-color">
                                        <label class="mobile-facets__label">
                                            <input class="mobile-facets__checkbox" type="checkbox" name="filter.v.option.color" value="Blue" id="Filter-Color-mobile-2" style="background-color: Blue;">
                                            <span class="mobile-facets__highlight"></span>
                                            <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                                                <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                            Blue
                                        </label>
                                        <span class="filter-count">1</span>
                                    </li>
                                    <li class="mobile-facets__item list-menu__item facets-color">
                                        <label class="mobile-facets__label">
                                            <input class="mobile-facets__checkbox" type="checkbox" name="filter.v.option.color" value="Grey" id="Filter-Color-mobile-3" style="background-color: Grey;">
                                            <span class="mobile-facets__highlight"></span>
                                            <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                                                <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                            Grey
                                        </label>
                                        <span class="filter-count">1</span>
                                    </li>
                                    <li class="mobile-facets__item list-menu__item facets-color">
                                        <label class="mobile-facets__label">
                                            <input class="mobile-facets__checkbox" type="checkbox" name="filter.v.option.color" value="White" id="Filter-Color-mobile-4" style="background-color: White;">
                                            <span class="mobile-facets__highlight"></span>
                                            <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                                                <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                            White
                                        </label>
                                        <span class="filter-count">2</span>
                                    </li>
                                </ul>
                                <div class="no-js-hidden mobile-facets__footer">
                                    <facet-remove class="mobile-facets__clear-wrapper btn-secondary">
                                        <a href="" class="mobile-facets__clear">Clear</a>
                                    </facet-remove>
                                    <button class="no-js-hidden btn">Apply</button>
                                </div>
                            </div>
                        </div>

                        <div class="mobile-facets__footer">
                            <div class="mobile-facets__clear-wrapper btn-secondary">
                                <a href="" class="mobile-facets__clear">Remove all</a>
                            </div>
                            <button type="button" class="no-js-hidden btn apply-btn">Apply</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- FILTER MOBILE MODAL END -->