@model ProfileVM
@{
    ViewData["Title"] = "Profile";

    bool isAddress = TempData["Tab"]?.ToString() == "Address";
    bool isOrder = TempData["Tab"]?.ToString() == "Order";
    bool isAccount = TempData["Tab"]?.ToString() == "Account";
    bool isDashboard = TempData["Tab"]?.ToString() == null;
    bool addressErrorr = TempData["addreess"]?.ToString() == "true";
    bool editadressErrorr = TempData["editadress"]?.ToString() == "true";
}
<style>
    .form-control {
        color: black !important;
    }
</style>
<main id="MainContent" class="content-for-layout home-wrapper">

    <div class="shopify-section">
        <section class="common-banner-section">
            <div class="container">
                <div class="col-md-5 col-12 ">
                    <div class="common-banner-content">
                        <a href="javascript:history.go(-1)" class="back-btn">
                            <span class="svg-ic">
                                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="5" viewBox="0 0 11 5" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5791 2.28954C10.5791 2.53299 10.3818 2.73035 10.1383 2.73035L1.52698 2.73048L2.5628 3.73673C2.73742 3.90636 2.74146 4.18544 2.57183 4.36005C2.40219 4.53467 2.12312 4.53871 1.9485 4.36908L0.133482 2.60587C0.0480403 2.52287 -0.000171489 2.40882 -0.000171488 2.2897C-0.000171486 2.17058 0.0480403 2.05653 0.133482 1.97353L1.9485 0.210321C2.12312 0.0406877 2.40219 0.044729 2.57183 0.219347C2.74146 0.393966 2.73742 0.673036 2.5628 0.842669L1.52702 1.84888L10.1383 1.84875C10.3817 1.84874 10.5791 2.04609 10.5791 2.28954Z" fill="white"></path>
                                </svg>
                            </span>
                            Back to Home
                        </a>
                        <div class="section-title">
                            <h2>My Profile</h2>
                        </div>
                        <p> Welcome to your profile account! This is your personal space where you have full control over your account settings. Explore the following features to manage your account effortlessly...</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--====== Breadcrumb Part Start ======-->

    <div class="breadcrumb-area">
        <div class="container-fluid custom-container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">My Account</li>
                </ol>
            </nav>
        </div> <!-- container -->
    </div>

    <!--====== Breadcrumb Part Ends ======-->
    <!--====== My Account Part Start ======-->

    <section class="my-account-area pt-10">
        <div class="container-fluid custom-container">
            <div class="row">
                <div class="col-xl-3 col-md-4">
                    <div class="my-account-menu mt-30">
                        <ul class="nav account-menu-list flex-column nav-pills" id="pills-tab" role="tablist">
                            <li>
                                <a class="@(isDashboard ? "active":"")" id="pills-dashboard-tab" data-toggle="pill" href="#pills-dashboard" role="tab" aria-controls="pills-dashboard" aria-selected="@(isDashboard ? true:false)"><i class="far fa-tachometer-alt-fast"></i> Dashboard</a>
                            </li>
                            <li>
                                <a class="@(isOrder ? "active":"")" id="pills-order-tab" data-toggle="pill" href="#pills-order" role="tab" aria-controls="pills-order" aria-selected="@(isOrder ? true:false)"><i class="far fa-shopping-cart"></i> Order</a>
                            </li>
                            <li>
                                <a class="@(isAddress ? "active":"")" id="pills-address-tab" data-toggle="pill" href="#pills-address" role="tab" aria-controls="pills-address" aria-selected="@(isAddress ? true:false)"><i class="far fa-map-marker-alt"></i> Address</a>
                            </li>
                            <li>
                                <a class="@(isAccount ? "active":"")" id="pills-account-tab" data-toggle="pill" href="#pills-account" role="tab" aria-controls="pills-account" aria-selected="@(isAccount ? true:false)"><i class="far fa-user"></i> Account Details</a>
                            </li>
                            <li>
                                <a asp-controller="Account" asp-action="Logout"><i class="far fa-sign-out-alt"></i> Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-8 col-md-8">
                    <div class="tab-content my-account-tab mt-30" id="pills-tabContent">
                        <div class="tab-pane fade @(isDashboard?"show active":"")" id="pills-dashboard" role="tabpanel" aria-labelledby="pills-dashboard-tab">
                            <div class="my-account-dashboard account-wrapper">
                                <h4 class="account-title">Dashboard</h4>
                                <div class="welcome-dashboard">
                                    <p>Hello, <strong>Alex Tuntuni</strong> (If Not <strong>Tuntuni !</strong> <a href="#">Logout</a> )</p>
                                </div>
                                <p class="mt-25">From your account dashboard. you can easily check & view your recent orders, manage your shipping and billing addresses and edit your password and account details.</p>
                            </div>
                        </div>
                        <div class="tab-pane fade @(isOrder?"show active":"")" id="pills-order" role="tabpanel" aria-labelledby="pills-order-tab">
                            <div class="my-account-order account-wrapper">
                                <h4 class="account-title">Orders</h4>
                                <div class="account-table text-center mt-30 table-responsive">
                                    <div class="container shadow min-vh-100 py-2">
                                        <div class="table-responsive">
                                            <table class="fold-table">
                                                <thead>
                                                    <tr>
                                                        <th>Order No</th>
                                                        <th>Amount</th>
                                                        <th>Value</th>
                                                        <th>Status</th>
                                                        <th>Comment</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (Order order in Model.Orders)
                                                    {
                                                        <tr class="view">
                                                            <td>@order.No</td>
                                                            <td>@order.OrderProducts.Sum(o=>o.Count)</td>
                                                            <td>@order.OrderProducts.Sum(o=>o.Price *o.Count)</td>
                                                            <td>@order.Status</td>
                                                            <td>@order.Comment</td>
                                                        </tr>
                                                        <tr class="fold">
                                                            <td colspan="7">
                                                                <div class="fold-content">
                                                                    <table class="small-friendly">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Title</th>
                                                                                <th>Count</th>
                                                                                <th>Price</th>
                                                                                <th>Ex Tax</th>
                                                                                <th>Total</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            @foreach (OrderProduct orderProduct in order.OrderProducts)
                                                                            {
                                                                                <tr>
                                                                                    <td>@orderProduct.Title</td>
                                                                                    <td>@orderProduct.Count</td>
                                                                                    <td>@orderProduct.Price</td>
                                                                                    <td>@(orderProduct.Price * orderProduct.Count)</td>
                                                                                </tr>
                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade @(isAddress?"show active":"")" id="pills-address" role="tabpanel" aria-labelledby="pills-address-tab">
                            <div class="my-account-address account-wrapper">
                                <h4 class="account-title">Payment Method</h4>
                                <a class="main-btn main-btn-2 addAddressBtn @(addressErrorr || editadressErrorr ? "d-none":"")" href="#"><i class="far fa-edit"></i> Add Address</a>
                                <div class="addressForm @(addressErrorr ? "":"d-none")">
                                    @await Html.PartialAsync("_AddressPartial",Model.Address)
                                </div>
                                <div class="editAddressForm @(editadressErrorr ? "":"d-none")">
                                    @if (editadressErrorr)
                                    {
                                        @await Html.PartialAsync("_EditAddressPartial",Model.Address)
                                    }
                                </div>
                                <div class="addressContainer row @(addressErrorr || editadressErrorr ? "d-none":"") ">


                                    @foreach (Address address in Model.Addresses.OrderByDescending(a => a.IsDefault))
                                    {
                                        <div class="account-address mt-30 col-lg-3">

                                            <h6 class="name">
                                                @address.Country
                                                @if (address.IsDefault)
                                                {
                                                    <span class="badge badge-pill badge-info">Default</span>
                                                }
                                            </h6>
                                            <p>@address.Line1 <br> @address.Line2, @address.PostalCode</p>
                                            <p>@address.Town</p>
                                            <p>@address.State</p>
                                            <a class="main-btn main-btn-2 editAddressBtn" asp-controller="account" asp-action="editaddress" asp-route-id="@address.Id"><i class="far fa-edit"></i> Edit Address</a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade @(isAccount?"show active":"")" id="pills-account" role="tabpanel" aria-labelledby="pills-account-tab">
                            @await Html.PartialAsync("_ProfileAccountPartial",Model.ProfileAccountVM)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contact-page" style="padding:400px 0px 200px">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12 contact-right-column">
                    <div class="contact-right-inner">
                        @await Html.PartialAsync("_ProfileAccountPartial", Model.ProfileAccountVM)
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>