@model ProfileVM
@{
    ViewData["Title"] = "Profile";

    bool isAddress = TempData["Tab"]?.ToString() == "Address";
    bool isOrder = TempData["Tab"]?.ToString() == "Order";
    bool isAccount = TempData["Tab"]?.ToString() == "Account";
    bool isDashboard = TempData["Tab"]?.ToString() == null;
    bool addressErrorr = TempData["addreess"]?.ToString() == "true";
    bool editadressErrorr = TempData["editadress"]?.ToString() == "true";
}
<style>
    .form-control {
        color: black !important;
    }

    .nav-pills .nav-link {
        cursor: pointer;
    }

        .nav-pills .nav-link.active {
            background: linear-gradient(75deg, var(--blue) 0%, var(--second-color) 100%);
            color: #fff;
        }

    .tab-pane {
        display: none;
    }

        .tab-pane.show {
            display: block;
            color: black;
        }

        .tab-pane.active {
            display: block;
        }
        .contact-right-column{
            margin-top:0px !important;
        }
</style>
<main id="MainContent" class="content-for-layout home-wrapper">

    <div class="shopify-section">
        <section class="common-banner-section">
            <div class="container">
                <div class="col-md-5 col-12 ">
                    <div class="common-banner-content">
                        <a href="javascript:history.go(-1)" class="back-btn">
                            <span class="svg-ic">
                                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="5" viewBox="0 0 11 5" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5791 2.28954C10.5791 2.53299 10.3818 2.73035 10.1383 2.73035L1.52698 2.73048L2.5628 3.73673C2.73742 3.90636 2.74146 4.18544 2.57183 4.36005C2.40219 4.53467 2.12312 4.53871 1.9485 4.36908L0.133482 2.60587C0.0480403 2.52287 -0.000171489 2.40882 -0.000171488 2.2897C-0.000171486 2.17058 0.0480403 2.05653 0.133482 1.97353L1.9485 0.210321C2.12312 0.0406877 2.40219 0.044729 2.57183 0.219347C2.74146 0.393966 2.73742 0.673036 2.5628 0.842669L1.52702 1.84888L10.1383 1.84875C10.3817 1.84874 10.5791 2.04609 10.5791 2.28954Z" fill="white"></path>
                                </svg>
                            </span>
                            Back to Home
                        </a>
                        <div class="section-title">
                            <h2>My Profile</h2>
                        </div>
                        <p> Welcome to your profile account! This is your personal space where you have full control over your account settings. Explore the following features to manage your account effortlessly...</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="container" style="padding:200px 0px 200px">
        <div class="row">
            <div class="col-md-3" >
                <ul class="nav nav-pills flex-column" id="myTabs">
                    <li class="nav-item">
                        <a class="nav-link active" id="tab1" onclick="showTab('content1')">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab2" onclick="showTab('content2')">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab3" onclick="showTab('content3')">Addresses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab4" asp-controller="account" asp-action="logout">Logout</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9">
                <!-- Tab panes -->
                <div class="tab-content" style="display:block;">
                    <div class="tab-pane fade show active" id="content1">
                        <section class="contact-page" >
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 col-12 contact-right-column">
                                        <div class="contact-right-inner">
                                            @await Html.PartialAsync("_ProfileAccountPartial", Model.ProfileAccountVM)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="tab-pane fade @(isOrder?"show active":"")" id="content2">
                        <section class="contact-page">
                            <div class="container">
                                <div class="card mb-4">
                                    <div class="card-body px-0 pt-0 pb-2">
                                        <div class="p-0">
                                            <table class="table align-items-center mb-0" style="padding:20px 20px 0px">
                                                <thead>
                                                    <tr>
                                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Order No</th>
                                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Amount</th>
                                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Value</th>
                                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Status</th>
                                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Comment</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (Order order in Model.Orders)
                                                    {
                                                        <tr>
                                                            <td>@order.No</td>
                                                            <td>@order.OrderProducts.Sum(o=>o.Count)</td>
                                                            <td>@order.OrderProducts.Sum(o=>o.Price*o.Count)</td>
                                                            <td>@order.Status</td>
                                                            <td>@order.Comment</td>
                                                        </tr>
                                                        <tr class="fold">
                                                            <td colspan="7">
                                                                <div class="fold-content">
                                                                    <table class="table align-items-center mb-0">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Title</th>
                                                                                <th>Count</th>
                                                                                <th>Price</th>
                                                                                <th>Total</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            @foreach (OrderProduct orderProduct in order.OrderProducts)
                                                                            {
                                                                                <tr>
                                                                                    <td>@orderProduct.Title</td>
                                                                                    <td>@orderProduct.Count</td>
                                                                                    <td>@orderProduct.Price</td>
                                                                                    <td>@(orderProduct.Price * orderProduct.Count)</td>
                                                                                </tr>
                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                @* <div class="row">
                                    <div class="col-md-12 col-12 contact-right-column">
                                        <div class="contact-right-inner">
                                            <table>
                                                <thead>
                                                    <td>
                                                        <th>Order No</th>
                                                        <th>Amount</th>
                                                        <th>Value</th>
                                                        <th>Status</th>
                                                        <th>Comment</th>
                                                    </td>
                                                </thead>
                                                <tbody>
                                                    @foreach (Order order in Model.Orders)
                                                    {
                                                        <tr class="view">
                                                            <td>@order.No</td>
                                                            <td>@order.OrderProducts.Sum(o=>o.Count)</td>
                                                            <td>@order.OrderProducts.Sum(o=>o.Price*o.Count)</td>
                                                            <td>@order.Status</td>
                                                            <td>@order.Comment</td>
                                                        </tr>
                                                        <tr class="fold">
                                                            <td colspan="7">
                                                                <div class="fold-content">
                                                                    <table class="small-friendly">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Title</th>
                                                                                <th>Count</th>
                                                                                <th>Price</th>
                                                                                <th>Ex Tax</th>
                                                                                <th>Total</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            @foreach (OrderProduct orderProduct in order.OrderProducts)
                                                                            {
                                                                                <tr>
                                                                                    <td>@orderProduct.Title</td>
                                                                                    <td>@orderProduct.Count</td>
                                                                                    <td>@orderProduct.Price</td>
                                                                                    <td>@(orderProduct.Price * orderProduct.Count)</td>
                                                                                </tr>
                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div> *@
                            </div>
                        </section>
                    </div>
                    <div class="tab-pane fade" id="content3">
                        <a style="margin-bottom: 30px" class="main-btn main-btn-2 addAddressBtn @(addressErrorr || editadressErrorr ? "d-none":"")"><i class="far fa-edit"></i> Add Address</a>
                        <div class="addressForm @(addressErrorr ? "":"d-none")">
                            @await Html.PartialAsync("_AddressPartial",Model.Address)
                        </div>
                        <div class="editAddressForm @(editadressErrorr ? "":"d-none")">
                            @if (editadressErrorr)
                            {
                                @await Html.PartialAsync("_EditAddressPartial",Model.Address)
                            }
                        </div>
                        <div class="addressContainer row @(addressErrorr || editadressErrorr ? "d-none":"") ">
                            @foreach (Address address in Model.Addresses.OrderByDescending(a => a.IsDefault))
                            {
                                <div class="account-address mt-30 col-lg-3">

                                    <h6 class="name">
                                        @address.Country
                                        @if (address.IsDefault)
                                        {
                                            <span class="badge badge-pill badge-info">Default</span>
                                        }
                                    </h6>
                                    <p>@address.Line1 <br> @address.Line2, @address.PostalCode</p>
                                    <p>@address.Town</p>
                                    <p>@address.State</p>
                                    <a class="main-btn main-btn-2 editAddressBtn" asp-controller="account" asp-action="editaddress" asp-route-id="@address.Id"><i class="far fa-edit"></i> Edit Address</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- JavaScript to handle tab switching -->
<script>
    function showTab(tabId) {
        // Remove 'active' class from all tabs
        var tabs = document.querySelectorAll('.nav-link');
        tabs.forEach(function (tab) {
            tab.classList.remove('active');
        });

        // Add 'active' class to the clicked tab
        var selectedTab = document.getElementById('tab' + tabId.charAt(tabId.length - 1));
        selectedTab.classList.add('active');

        // Show the selected tab content
        $('.tab-pane').removeClass('show active');
        $('#' + tabId).addClass('show active');
    }
</script>